/* src/components/Header.css */
.navbar-nav .nav-link {
  margin-left: 15px;
}


.form-control {
  width: 300px;
}
.nav-link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s, text-decoration 0.3s;
}

.nav-link.active {
  color: rgb(1, 1, 35);
  text-decoration: underline;
}
